.login-container{
    padding-top: 50px;
    width: 380px;
}

.CRICK_TECH{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2.5px;
    text-align: center;
}

.CRICK_TECHLINK{
    text-decoration: none;
    color: black;
}

.CRICK_TECH :hover{
    color: black;
    text-decoration: none;
}

.Password-assistance{
    text-align: center;
    padding-top: 10px;
}

.submit-button{
    width: 350px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    color: white;
}
.submit-button :hover{
    color: white;
    text-decoration: none;
}

.resendotp{
    color: white;
}

.copyright{
    text-align: center;
    padding-top: 20px;
    font-size: 0.85rem;
    font-weight: lighter;
}